.navbar .collapse {
  flex-grow: 0;
}

.navbar-nav {
  margin-right: 3rem;
  li ~ li {
    margin-left: 3rem;
  }
}

.footer {
  padding: 1.625rem 0;
  font-size: 14px;
  color: $gray-666;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  .dropdown {
    display: none;
    margin: 0;
  }

  // BS4 BREAKPOINTS
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  @include media-breakpoint-up(lg) {
    .dropdown {
      display: block;
    }
  }
  @include media-breakpoint-up(xl) {
  }

  .material-icons {
    color: $black;
  }
  li ~ li {
    margin-left: 1.5rem;
  }
}
